@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header-fixed {
    background-color: rgba(0, 0, 0, 0.5);
}

.menu {
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 992px) {
        padding: 10px 20px;
        background-color: rgba(29, 29, 29, 0.93);
    }

    &__btn {
        display: none;

        @media (max-width: 992px) {
            order: 1;
            position: relative;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            padding: 0;
            z-index: 10;
            cursor: pointer;
            width: 40px;
            height: 38px;
            border: 2px solid $hover;

            span {
                height: 2px;
                width: 80%;
                background-color: $silver;
            }

            &::before,
            &::after {
                position: absolute;
                content: '';
                height: 2px;
                width: 80%;
                background-color: $silver;
            }

            &::before {
                content: '';
                top: 5px;
            }

            &::after {
                bottom: 5px;
            }
        }
    }

    .menu__btn.menu__items--active span {
        transform: scale(0);
    }

    .menu__btn.menu__items--active:before {
        transform: rotate(45deg);
        top: 16px;
    }

    .menu__btn.menu__items--active::after {
        transform: rotate(-45deg);
        bottom: 15px;
    }

    &__logo-link {
        margin-right: 20px;

        @media (max-width: 1200px) {
            display: none;
        }
    }

    &__logo {
        width: 57px;
        height: 95px;
        object-fit: cover;
    }

    &__items {
        margin-left: auto;
        // !!!можно без авто
        margin-right: 20px;

        @media (max-width: 992px) {
            transform: translateY(-200%);
            position: absolute;
            top: 68px;
            width: 100%;
            left: 0;
            z-index: 5;
            transition: transform 1s;
            background-color: rgba(29, 29, 29, 0.93);
            text-transform: uppercase;

            &.menu__items--active {
                transform: translateY(0%);
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;

        @media (max-width: 992px) {
            border-bottom: 2px solid $hover;
            width: 100%;
            padding: 25px 0;
            flex-direction: column;
        }
    }

    &__item {
        text-shadow: 1px 1px 2px $black1;

        @media (max-width: 992px) {
            padding: 10px 0;
        }

        &:not(:last-child) {
            margin-right: 20px;

            @media (max-width: 992px) {
                margin-right: 0px;
            }
        }

        @media (max-width: 992px) {
            width: 100%;
            text-align: center;
        }
    }

    &__link {
        font-weight: 400;
        transition: color 0.5s;
        outline-offset: 5px;
        color: $white;

        @media (max-width: 992px) {
            width: 100%;
            display: block;
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            border-bottom: 2px solid $hover;

            @media (max-width: 992px) {
                border-bottom: 2px solid transparent;
            }
        }

        &:active {
            color: $active;
        }
    }

    &__record {
        padding: 10px 15px;
        border: 1px solid $white;
        // color: $white;
        transition: color 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            background-color: $ac;
        }

        &:active {
            color: $active;
        }

        @media (max-width: 992px) {
            border: 2px solid $hover;
            color: $hover;
            text-decoration: none;
            padding: 11px 20px;
            font-weight: 500;
        }
    }

    &__link--active {
        border-bottom: 2px solid $hover;

        @media (max-width: 992px) {
            border-bottom: 2px solid transparent;
        }
    }
}

.intro {
    &__inner {
        height: 100vh;
        background-image: url('images/header-bg.jpg');
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
    }

    &__title {
        color: rgba(255, 255, 255, 0.9215686275);
        font-size: 39px;
        margin-bottom: 60px;
        max-width: 800px;
        line-height: 1.2;
        text-shadow: 1px 1px 2px $black1;
        padding: 0 15px;

        @media (max-width: 1200px) {
            font-size: 36px;
            margin-bottom: 50px;
        }

        @media (max-width: 992px) {
            font-size: 33px;
            margin-bottom: 40px;
        }

        @media (max-width: 768px) {
            font-size: 30px;
            margin-bottom: 30px;
        }

        @media (max-width: 576px) {
            font-size: 27px;
            text-align: center;
        }
    }

    &__link {
        padding: 12px 36px;
        border: 1px solid $hover;
        font-size: 20px;
        background-color: $hover;
        text-shadow: 1px 1px 2px $black1;
        display: flex;
        max-width: 230px;
        margin: 0 auto;
        transition: color 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            background-color: transparent;
            color: $ac;
        }

        &:active {
            color: $active;
        }

        @media (max-width: 576px) {
            display: none;
        }
    }
}

.about {

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 768px) {
            display: block;
            width: 100%;
        }
    }

    &__box {
        margin-right: 30px;

        @media (max-width: 768px) {
            margin-right: 0;
        }
    }

    &__title {
        font-size: 40px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 60px;
        display: inline-block;

        @media (max-width: 1200px) {
            font-size: 36px;
            margin-bottom: 50px;
        }

        @media (max-width: 992px) {
            font-size: 33px;
            margin-bottom: 40px;
        }

        @media (max-width: 768px) {
            font-size: 30px;
            margin-bottom: 30px;
        }

        @media (max-width: 576px) {
            font-size: 27px;
        }
    }

    &__text {
        color: rgb(136, 136, 136);
        font-weight: 400;
        line-height: 1.7;

        @media (max-width: 768px) {
            margin-bottom: 20px;
        }

        @media (max-width: 576px) {
            font-size: 16px;
        }
    }

    &__img {
        max-width: 830px;
        height: 565px;
        object-fit: cover;

        @media (max-width: 1200px) {
            max-width: 580px;
            height: 500px;
        }

        @media (max-width: 992px) {
            max-width: 380px;
            height: 400px;
        }

        @media (max-width: 768px) {
            max-width: 100%;
            height: 350px;
        }

        @media (max-width: 576px) {
            height: 300px;
        }
    }
}

.team {
    text-align: center;

    &__title {
        margin-bottom: 60px;

        @media (max-width: 1200px) {
            font-size: 36px;
            margin-bottom: 50px;
        }

        @media (max-width: 992px) {
            font-size: 33px;
            margin-bottom: 40px;
        }

        @media (max-width: 768px) {
            font-size: 30px;
            margin-bottom: 30px;
        }

        @media (max-width: 576px) {
            font-size: 27px;
            text-align: center;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        max-width: 1400px;
    }

    &__item {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    }

    &__img {
        height: 445px;
        width: 445px;
        object-fit: cover;

        @media (max-width: 992px) {
            height: 400px;
        }

        @media (max-width: 768px) {
            height: 350px;
        }

        @media (max-width: 576px) {
            height: 300px;
        }
    }

    &__subtitle {
        text-align: center;
        padding: 15px 0;
        font-size: 20px;
        font-weight: 600;
        color: $hover;
    }

    &__text {
        text-align: center;
        // типо текст center
        padding-bottom: 20px;
        color: $silver;
        font-weight: 500;
    }
}

.gallery {
    background-color: $black1;
    text-align: center;

    &__title {
        margin-bottom: 60px;
        color: $white;

        @media (max-width: 1200px) {
            font-size: 36px;
            margin-bottom: 50px;
        }

        @media (max-width: 992px) {
            font-size: 33px;
            margin-bottom: 40px;
        }

        @media (max-width: 768px) {
            font-size: 30px;
            margin-bottom: 30px;
        }

        @media (max-width: 576px) {
            font-size: 27px;
            text-align: center;
        }
    }

    &__items {
        max-width: 1415px;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    &__img {
        height: 496px;
        width: 331px;
        object-fit: cover;

        @media (max-width: 992px) {
            height: 400px;
        }

        @media (max-width: 768px) {
            height: 350px;
        }

        @media (max-width: 576px) {
            height: 300px;
        }
    }
}

.price {
    &__title {
        max-width: 285px;
        margin: 0 auto 60px auto;
        display: flex;

        @media (max-width: 1200px) {
            margin-bottom: 55px;
        }

        @media (max-width: 992px) {
            margin-bottom: 50px;
        }

        @media (max-width: 768px) {
            margin-bottom: 40px;
        }

        @media (max-width: 576px) {
            margin-bottom: 30px;
        }
    }

    &__text {
        color: $silver;
        font-weight: 400;
        line-height: 1.7;
        margin-bottom: 30px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1400px) {
            justify-content: start;
        }

        @media (max-width: 1200px) {
            display: block;
        }
    }

    &__left {
        width: 46%;
        max-width: 635px;

        @media (max-width: 1400px) {
            width: 50%;
            margin-right: 40px;
        }

        @media (max-width: 1200px) {
            width: 100%;
            max-width: 100%;
        }
    }

    &__right {
        width: 46%;

        @media (max-width: 1400px) {
            width: 50%;
        }

        @media (max-width: 1200px) {
            width: 100%;
        }
    }

    &__subtitle {
        background-color: $black3;
        font-weight: 500;
        text-transform: uppercase;
        padding: 7px 10px;
        display: inline-flex;
        margin-bottom: 20px;
    }

   
    &__items {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__item {
        display: flex;
        position: relative;
        background-color: $white;
        font-size: 17px;
        font-weight: 500;
        white-space: nowrap;
        padding-right: 5px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        @media (max-width: 1400px) {
            font-size: 16px;
        }

        @media (max-width: 576px) {
            font-size: 10px;
        }
    }

    //!!! повысить все до 1400
    &__item p {
        width: 100%;
        border-bottom: dotted 2px $dotted;
        clear: both;
        margin-left: 5px;
        margin-bottom: 4px;
    }

    &__item span {
        padding: 0 0 0 5px;
        background-color: $white;
        color: $brown2;
        font-weight: 600;
        position: absolute;
        top: 4px;
        right: 0;

        @media (max-width: 1400px) {
            top: 0px;
        }

        @media (max-width: 576px) {
            font-size: 10px;
        }
    }
}


.footer {
    &__inner {
        display: flex;

        @media (max-width: 768px) {
            display: block;
        }
    }
}

.map {
    width: 1150px;

    @media (max-width: 1400px) {
        width: 60%;
    }

    @media (max-width: 992px) {
        width: 50%;
    }

    @media (max-width: 768px) {
        width: 100%;
        height: 350px;
    }

    @media (max-width: 576px) {
        height: 300px;
    }
}

.contacts {
    width: 40%;
    padding: 15px;
    background-color: $black1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @media (max-width: 992px) {
        width: 50%;
    }

    @media (max-width: 768px) {
        width: 100%;
    }

    @media (max-width: 576px) {
        padding: 20px 15px;
    }

    &__logo-link {
        margin-bottom: 35px;
    }

    &__logo {
        width: 179px;
        height: 300px;
    }

    &__inner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 10px;

        @media (max-width: 576px) {
            padding: 0;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 440px;
        width: 100%;
        gap: 20px 0;
    }

    &__item {
        color: $silver;
        width: 50%;

        @media (max-width: 576px) {
            width: 100%;
        }
    }

    &__item p {
        font-size: 16px;
    }

    &__title {
        color: $brown;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &__link {
        font-size: 16px;
        transition: color 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $brown;
        }

        &:active {
            color: $active;
        }
    }
}